h1 {
    color: red;
    text-align: center;
}
h2 {
    color: green;
}
b { 
    color: red;
    font-size: 20px;
}
em {
    color: blue;
    font-weight: bold;
}
ol {
    color: red;
}
p {
    width: 500px;
    font-size: 12px;
    line-height: 25px;
    text-align: justify;
    font-family: Arial;
}
ul {
    width: 500px;
    font-style: italic;
    color: #924763;
}
i {
    color: red;
}
