.ul1 {
    list-style-type: square;
}
.ul2 {
    list-style-type: circle;
}
.ul4 {
    list-style-type: none;
}
.ul5 {
    list-style-type: lower-roman;
}
.ol1 {
    list-style-type: decimal;
}
.ol2 {
    list-style-type: lower-greek;
}
.ol3 {
    list-style-type: upper-alpha;
}