ul {
    list-style-type: none;
    width: 200px;
}
li {
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: white;
    font: 13px Arial;
    border: 1px solid blue;
    display: block;
    padding: 0px 5px;
    line-height: 30px;
    background-color: blue;
    font-weight: bold;
    cursor: pointer;
}
a:hover {
    color: blue;
    background-color: white;
}
.menu-2 a:hover, .menu-2 a.active {
    color: blue;
    background: #fff url('../img/blue.png') no-repeat 90% center;
}