ul {
    list-style-type: none;
}
li {
    margin-right: 4px;
    float: left;
}
li:hover {
    color: white;
    background-color: blue;
}
.li1 {
    background: url("../img/1.png") no-repeat top center;
}
.li2 {
    background: url("../img/2.png") no-repeat top center;
}
.li3 {
    background: url("../img/3.png") no-repeat top center;
}
.li4 {
    background: url("../img/4.png") no-repeat top center;
}
.li5 {
    background: url("../img/5.png") no-repeat top center;
}
.menu-2 a:link, .menu-2 a:visited {
    color: #CBCBCB;
    text-decoration: none;
}
.menu-2 a {
    padding-top: 30px;
    display: block;
}