* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
.header {
    height: 300px;
    padding: 20px;
    border: 1px solid black;
}
.container {
    display: flex;
}
.left-sidebar {
    width: 220px;
    margin-left: 20px;
    padding: 20px;
	border: 1px solid black;
}
.content {
	width: 780px;
    height: 700px;
    padding: 20px;
	border: 1px solid black;
}
.right-sidebar {
	width: 200px;
    margin-left: 20px;
    padding: 20px;
	border: 1px solid black;
}
.footer {
    height: 100px;
    padding: 20px;
    border: 1px solid black;
}