.parent {
	display: flex;
	width: 90%;
	margin: 50px auto;
	border: 1px solid red;
}
.child {
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid green;
}
@media (min-width: 500px) {
	.parent {
		justify-content: space-between;
	}
    .child {
		width: 49.5%;
	}
}
@media (max-width: 500px) {
	.parent {
		flex-direction: column;
	}
	.child {
		margin-bottom: 10px;
	}
}